---
import Card from '../ui/Card.astro';
import { getCollection } from 'astro:content';
import projects from '../data/proyectos.json'; // ¡Importamos los datos!

const proyectos = await getCollection('proyectos');
console.log(proyectos);

---

<section class="hero" id="proyectos">
    <div class="flex flex-col items-center text-center">
        <h1 class="mx-auto mt-2 max-w-max text-center font-bold tracking-tight text-balance text-white sm:text-5xl">
            <span class="dark:text-[var(--text-terceary)] text-black">Proyectos</span>
            Terminados
        </h1>
        <Card />
        <a href="/" class="">          
          Ver todos los proyectos
        </a>
    </div>
</section>


<style>
.hero {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; 
    overflow-x: hidden;
}
.container {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    gap: 4px;
	align-items: center;
}
.hero h1{
    padding-bottom: 20px;
}