---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/portfolio/Presentacion.astro';
import Experiencia from '../components/portfolio/Experiencia.astro';
import Proyectos from '../components/portfolio/Proyectos.astro';
---

<Layout title="Portafolio de Yesid Sanabria - Desarrollador y Programador"
        description="Contrata a Yesid Sanabria, un desarrollador y programador talentoso, para llevar tus proyectos al siguiente nivel. Con habilidades en desarrollo web, aplicaciones móviles y más, Yesid está listo para ayudarte a alcanzar el éxito tecnológico.">

    
  <Presentacion />
  <Experiencia />
  <Proyectos />

<!--- Seccion Proyectos --->
  <section class="">

  </section>


  <script>
    const darkModeInput = document.getElementById("theme-toggle");
    const html = document.documentElement;

    if (darkModeInput) {
      	darkModeInput.addEventListener("click", () => {
		html.classList.toggle("dark");
		const newTheme = html.classList.contains("dark") ? "Dark" : "Light";
   
      });
    }
  </script>
</Layout>

<style>
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  overflow-x: hidden;
  }

.container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 4px;
	align-items: center;
  }
  
.hero-content {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  }
  


/* #region Seccion Experiencia Laboral */




/* #endregion Seccion Experiencia Laboral */

/* #region Seccion Proyectos */




/* #endregion Seccion Proyectos */

/* #region Seccion Tecnologias */




/* #endregion Seccion Tecnologias */


